
body {
    width: 1480px;
    height: 1282px;
    border: 1px solid rgb(238, 229, 229);
}

.header {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 1480px;
}

.logobox   {
    width: 334px;
    height: 79px;
    left: 0px;
    top: 0px;
    justify-content: center;
    align-items: flex-start;
    padding-left: 98px;
    padding-top: 63px;
}

.logostart, .logoend {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
}

.logostart {
    color: #000000;
}

.logoend {
    color: #4BCAFF;
}

.menu {
    display: block;
    display: flex;
    justify-content: center;
    background-color: #35444F;
    width: 1280px;
    height: 69px;
    margin: auto;
    margin-top: 40px;
}

[class^="menu_item"] {
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 18px;
   }

[class^="menu_item"]:hover {
    background-color: #222F3A;
    text-decoration: underline blue;
}

.menu_item1, .menu_item2 {
    padding-left: 38px;
    padding-right: 38px;
}

 .menu_item3, .menu_item4 {
    padding-left: 40px;
    padding-right: 40px;
}

.wrapper_main {
    margin: auto;
    height: 932px;
    width: 1280px;
    display: flex;
}

.aside {
width: 344px;
height: 399px;
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #000000;
margin-top: 49px;
display: flex;
flex-direction: column;
}

[class^="aside_item"] {
    box-sizing: border-box;
    width: 344px;
    height: 81px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    padding-left: 42px;
    padding-top: 26px;
    padding-bottom: 30px;
    color: #495863;
}

[class^="aside_item"]:hover {
    background-color: #DBDBDB;
    padding: 27px 78px 27px 38px;
    text-decoration: underline blue;
    color: #000000;
    text-align: center;
}

.main {
    width: 885px;
    height: 829px;
    margin-top: 49px;
    margin-left: 52px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.img {
    width: 885px;
    height: 529px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_hover {
    transition-duration: 1s;
}

[class^="img_hover"]:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);

}


.lorem1 {
    box-sizing: border-box;
    width: 885px;
    height: 120px;
    margin-top: 37px;
    margin-bottom: 34px;
}

[class^="lorem"] {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.lorem2 {
    width: 885px;
    height: 109px;
}

.wrapper_footer {
    display: flex;
    justify-content: space-between;
}

.menu_footer {
    background-color: rgba(99, 105, 110, 0.48);
    width: 1280px;
    height: 69px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_footer_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    width: 875px;
    height: 28px;
}

[class^="menu_footer_item"] {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: rgba(12, 25, 39, 1) ;
}

[class^="menu_footer_item"]:hover {
    color: #3181A6;
    text-decoration: underline #3181A6;
}

.copyright {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    margin-right: 40px;
}
